body {
  font-family: arial;
  padding: 40px;
}

.fila{
  display: flex;
  clear: both;
}

.columna1 {
  width: 100%;
  font-size: 30px;
  float: left;
}

.columna2 {
  width: 50%;
  background-color: rgba(215, 210, 216, 0.179);
  padding: 40px;
  font-size: 30px;
  float: left;
}

.columna4 {
  width: 50%;
  padding: 40px;
  font-size: 30px;
  background-color: rgb(201, 213, 213);
  float: left;
}

.columna3 {
  width: 50%;
  background-color: rgb(234, 228, 220);
  padding: 40px;
  font-size: 30px;
  float: left;
}

.columna5 {
  width: 25%;
  padding: 40px;
  font-size: 30px;
  float: left;
}

.estilos {
  border-style: solid;
  border-width: 0px;
  border-color: black;
}

.titulo {
  color: cadetblue;
}

.titulo2 {
  background-color: black;
  color: white;
}

.letra1 {
  color: white;
}

.negrita {
  font-weight: bold;
}

img {
  display: block;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
}

.letra3 {
  color: gray;
}

.margen {
  margin-left: 35px;
}

@media screen and (max-width: 600px) {
  .columna2,
  .columna3,
  .columna4 {
    width: 100%;
  }
  .columna5 {
    width: 50%;
  }
}
